{{ template "header.html" . }}

<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Planted</th>
            <th>Where</th>
            <th>Next</th>
            <th>When</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Planted}}</td>
                <td>{{.Where}}-{{.Row}}-{{.Colum}}</td>
                <td>{{.Next}}</td>
                <td>{{.When}}</td>
            </tr>
        {{end}}
    </tbody>
</table>
</div>
<div class="container">
<form action="/plant" method="post" class="form-inline">
    <div class="form-group">
        <label for="plantType">Plant Type</label>
        <input list="plantTypes" class="form-control" id="plantType">
        <datalist id="plantTypes">
            <option value="Crispy lettuce">
            <option value="red romaine lettuce">
            <option value="green romaine lettuce">
            <option value="Lemon basil">
            <option value="basil">
            <option value="coriander">
        </datalist>
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <select name="location" class="form-control" id="location">
            <option value="cup">Cup</option>
            <option value="nursery">Nursery</option>
        </select>
    </div>
    <div class="form-group">
        <label class="sr-only" for="row">Row</label>
        <select name="row" class="form-control" id="row">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label class="sr-only" for="column">Row</label>
        <select name="column" class="form-control" id="column">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Plant</button>
</form>
</div>
{{ template "footer.html" . }}
